@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');  
 * {  
  box-sizing: border-box;  
  outline: none;  
 }  
 body {  
  /* background-color: #7bdaf3;   */
  font-family: 'Poppins', sans-serif;  
  display: flex;  
  flex-wrap: wrap;  
  justify-content: center;
  margin: 0;  
  padding-top: 3rem;  
 } 
 .button {  
    position: fixed;  
    top: 1rem;  
    right: 1rem;  
    background-color: #9ec862;  
    color: #fff;  
    border: none;  
    border-radius: 3px;  
    padding: 0.5rem 1rem;  
    cursor: pointer;  
   }  
   .button:active {  
    transform: scale(0.98);  
   }  


.divId {
    
    width: 600px;
    height: 600px;
    display: flex;
    padding-top: 30px;
    /* justify-content: center; */
    /* background-color: aquamarine; */
}
.forms{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* width: 40%; */

}
.tittle{
    background-color: #7bdaf3;
    border: none;
    padding: 30px;
    
   
}
.textarea{
    background-color: coral;
    height: 300px;
    border: none;
}
.textarea1{
    background-color: coral;
    height: 340px;
    border: none;
}

.buttons{
    background-color: #9ec862;  
    color: #fff;  
    border: none;  
    border-radius: 3px;  
    /* padding:1rem 2.5rem;   */
    cursor: pointer; 
}
.divClass{
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-right: 30px;
    padding-top: 30px;
    
}

.divInside{
    display: flex;
    justify-content: space-around;
    background-color: coral;
    padding-bottom: 1rem;   
}
